	body{
	  font-size: 16px;
}
#checkConfg{
	font-size:16px;
}
.selectConf{
	
     height: auto;
/*     background-color: #2a3138; */
/*     color: #fff; */
    font-size: 16px;
}
.panelHeadingBold{
	
	    font-size: 21px;
	        font-family: "Times New Roman", Times, serif;
/*     font-weight: bold; */
}

.setStyle {
            
            color: red;
            font-family: sans-serif;
			font-weight: bold;
			background: #ebe2d4;
			padding: 7px 20px;
			border-radius: 15px;
        }
.labelstyle
{
	font-size:17px;
}
.validMaterialMsgStyle{
	color: #fff;
    font-size: 19px;
    padding: 10px;
    background-color:#ee4c4c;
        border-radius: 16px
}
hr.new3 {
  border-top: 10px dotted red;
}
#CalculateActualFlow,#CalculateActualFlow2
{
			background-color: #e6e4e2;
			color:black;
		
			margin: 5px;
}	

.question{
	   background-color: #594d4d;
    padding: 10px;
    color: #fff;
    margin:30px;
}
 

#testSubmit
{
	padding: 10px;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	background-color: #212529;
	margin: 20px 10px;;
	letter-spacing: 1px;
	font-weight: bold;
/* 	box-shadow: 0 5px #999; */
}
#questionDiv .queno
{ background-color:#2a3138; 
padding:7px; color:#fff; 
font-size: 20px;
 border-radius: 10px; 
 font-family: Cambria, Georgia, serif;
 }
.nextLevelBtn {
	padding: 10px;
    border-radius: 10px;
    background-color: #212529;
    color: #fff;
    margin: 20px 10px;
    letter-spacing: 1px;
    font-size: 18px;
}
.panel-primary>.panel-heading,.card-header,.modal-header,.selectbg {
background:#4d6c71;
	color:#fff;
	border-color:#000;	
}	
.boldTextBlue{
	color:Blue;
	letter-spacing: 0px;
	font-size: 18px;
}
.boldTextRed{
	color:Red;
	letter-spacing: 0px;
	font-size: 18px;
}
.boldTextGreen{
	color:green;
	letter-spacing: 0px;
	font-size: 18px;
}
.model
{
	padding:0px;
} 
#modelMsg{
	font-size: 20px;
    color: red;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
.typeSelector
{
	    background-color: #2a3138;
    margin-top: 20px;
    padding: 20px;
    color: #fff;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
} 
.messageCorrect{
	padding: 18px;
/*     background-color: red; */
    border-radius: 12px;
    /* width: 100%; */
    color:green;
    font-size: 16px;
}
.messageWrong{
	padding: 18px;
/*     background-color: red; */
    border-radius: 12px;
    /* width: 100%; */
    color:red;
    font-size: 16px;
}
#application
{
margin-top: 20px;
    background-color: #4d6c71;
    padding: 12px;
    color: #fff;
}


